.drawingContainer {
  background: linear-gradient(
    -45deg,
    #c4e4f8 5%,
    #7b8bc4 20%,
    #6b5b9d 40%,
    #2e2b7a 80%
  );
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  pointer-events: none;
}
